<html>
  <head>
    <title>Primer Finder</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1>Prime Finder</h1>
      </div>

      <p>
        <% if @sorted_matches.any? %>
            We found <%= @sorted_matches.size %> matching
            <% if @sorted_matches.size == 1 %>
              primer:
            <% else %>
              primers. Results are ordered by size of the binding site:
            <% end %>
        <% else %>
          Couldn't match any of these primers. Sorry.
        <% end %>
      </p>

        <% @sorted_matches.each do |match| %>
          <div class="match-result">
            <p class="primer-name"><%= match.primer.name %></p>
            <p>Note: <%= match.primer.note %></p>
            <p>Size of binding site: <%= match.binding_length %></p>
            <code><%= match.primer.sequence %></code>
          </div>
        <% end %>
    </div>
  </body>
</html>
