<p>
  <% if @sorted_matches.any? %>
    We found <%= @sorted_matches.size %> matching
    <% if @sorted_matches.size == 1 %>
      primer:
    <% else %>
      primers. Results are ordered by size of the binding site:
    <% end %>
  <% else %>
    Couldn't match any of these primers. Sorry.
  <% end %>
</p>

<% @sorted_matches.each do |match| %>
  <div class="match-result">
    <p class="primer-name"><%= match.primer.name %></p>
    <p>Note: <%= match.primer.note %></p>
    <p>Size of binding site: <%= match.binding_length %></p>

    <code>
      <% if match.primer_end == :head %>
        <span class="binding-site"><%= match.primer.sequence[0...match.binding_length] %></span><%= match.primer.sequence[match.binding_length..-1] %>
      <% else %>
        <%= match.primer.sequence[0...-match.binding_length] %><span class="binding-site"><%= match.primer.sequence[-match.binding_length..-1] %></span>
      <% end %>
    </code>
  </div>
<% end %>
